*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.25%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  color: #edfdf3;
  background-color: #2f4858;
}
